body {
    font-family: "Montserrat-Bold";
}

#tittle {
    color: #fff;
    background:#F93827 ;
    padding-bottom: 2rem;
}
. container-fluid {
    padding: 3% 15%;
}
h1 {
    font-family: popping;
    font-size: 1.5rem;
    line-height: 1.5;
}
h3 {
    font-family: popping;
    font-weight: bold;
}
h2 {
    color: #fff;
    font-size: 1rem;
}
#p {
    color: grey;
}
.navbar {
    padding-bottom: 2.5rem;
    
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.bu {
    margin: 5% 3% 7% 0;
}
.image{
    width : 55%;
    margin: 0 0 0 70px;
    transform: rotate(15deg);
    position: relative;
}

/* features */
#features {
    padding: 9% 15%;
}
.fea {
    text-align: center ;
    padding: 5%;
}
.icon {
    color: #FF9D23;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #F93827; 
}

/* testimonials */
#testimonials {
    background: #FF9D23;
    padding : 9% 15%;
    text-align: center;
}
.test {
    border-radius: 1000%;
    margin: 10px 15px;
}

.carousel-item {
    padding : 7% 15%;
}


.footr{
    background : #000;
    text-align: center;
    margin: 0 auto;
    margin-top: px;
    padding-bottom: 20px;
    width: 100%;
}
h4 {
    color: #fff;
}

/* pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-col {
    padding: 3% 2%;
}
p {
    font-size: 0.7rem;
}